<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시물 작성폼</title>
</head>
<style>

  .layout {
    width : 500px;
    margin : 0 auto;
    margin-top : 40px;
  }

  .layout input {
    width : 100%;
    box-sizing : border-box;
  }

  .layout textarea {
    width : 100%;
    margin-top : 10px;
    min-height: 300px;
  }


</style>
<body>
<div class="layout">
  <form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <input name="title" type="text" th:value="${board.title}"> <!--input은 한줄만, textarea는 여러줄가능-->
    <textarea name="content" th:text="${board.content}"></textarea> <!-- input은 value로 받을 수 있지만 textarea는 text사용해야함(타임리프)-->
    <button type="submit">수정</button>
  </form>

</div>

</body>
</html>